/* Remove default bullets */
.tree-view,
.tree-nested {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

/* Style the items */
.tree-item,
.files-tree-title {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.tree-caret .fa-folder {
    display: inline-block;
}

.tree-caret .fa-folder-open {
    display: none;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.tree-caret-down .fa-folder {
    display: none;
}

.tree-caret-down .fa-folder-open {
    display: inline-block;
}

/* Hide the nested list */
.tree-nested {
    display: none;
}

#restore-box {
    text-align: left;
}

.ribbon {
    margin: -10px;
    background: rebeccapurple;
    color: white;
    padding: 1em 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
}

.ribbon:before,
.ribbon:after {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 -1px;
    /* tweak */
    width: 100%;
    height: 100%;
    background: rebeccapurple;
}

.ribbon:before {
    right: 100%;
}

.ribbon:after {
    left: 100%;
}

.parent {
    overflow: hidden;
    /* required */
    position: relative;
    /* required  for demo*/
}