# Crafty Controller 4.0 - Lint & Build Pipes
# [Maintainer: Zedifus(https://gitlab.com/Zedifus)]
###################################################
---
stages:
  - lint
  - test
  - build-and-deploy
  - release

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"

include:
  - local: .gitlab/lint.yml
  - local: .gitlab/docker-build.yml
  - local: .gitlab/windows-build.yml
  - local: .gitlab/release.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml

secret_detection:
  variables:
    SECRET_DETECTION_EXCLUDED_PATHS: migrations, vendors
